aside[bottom-nav] {
    grid-area: bottom-nav;
    display: flex;
    flex-direction: column;
    position:sticky;
    bottom:0;
    background:var(--surface-1);
    box-shadow: var(--shadow-2);
    max-width: var(--page-width);
    z-index:var(--layer-5);
    border-top: var(--border-size-1) solid var(--surface-3);
  }
  