.carousel>ul>li {
  position: relative;
  scroll-snap-align: start;
  display: flex;
  flex: 0 0 auto;
  scroll-margin: 0 var(--size-fluid-4);
  padding: 0;
  max-width: 100%;
  animation: var(--animation-fade-out) reverse backwards;
  transition: all .25s var(--ease-elastic-1);
}

.carousel>ul>li>.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: var(--surface-2);
  transition: all 0s var(--ease-elastic-1);
}

.carousel>ul>li>.carousel-slide>* {
  max-width: 100%;
}


.carousel>ul>li[inert]>.carousel-slide>* {
  content-visibility: hidden;
}