@import "open-props/postcss/style";
@import "open-props/postcss/normalize";
@import "open-props/postcss/buttons";
@import "../public/styles/page.css";


@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}

:root {
  --page-width: 100vw;
  --page-height: 100vh;
  --top-nav-height: clamp(2.5rem, 8vh, 4rem);
  --bottom-nav-height: clamp(2.5rem, 8vh, 4rem);
  --main-width: 100vw;
  --main-height: calc(var(--page-height) - (var(--top-nav-height) + var(--bottom-nav-height)));

}

html {
  font-family: 'Inter';
  max-width: var(--page-width);
}

body {
  display: grid;
  max-width: var(--page-width);
  grid-template-columns: 1fr;
  grid-template-rows:
    var(--top-nav-height) auto auto var(--bottom-nav-height);
  grid-template-areas:
    "header"
    "main"
    "footer"
    "bottom-nav";
  margin: 0;
  position: relative;
  padding: 0;
  background-color:var(--surface-1);
}

a {
  padding:unset;
  margin:unset;
}


:focus-visible {
  outline-color: var(--brand, var(--link));
  outline-offset: 1px;
}
